hr {
	border-style: dotted;
	border-bottom-style: none;
	border-color: #FFA100;
	width: 1.5%;
	border-width: 7px;
}

div {
	background-color: #2B0268;
	width: 50%;
	height: 50%;
	color: white;
	font-family: sans-serif;
}

h2 {
	font-style: italic;
	color: white;
	font-family: sans-serif;
	font-weight: 200;
	font-variant: small-caps;
}

h3 {
	font-style: italic;
	color: blue;
	font-family: sans-serif;
	font-weight: 200;
	font-variant: small-caps;
}

a {
	font-style: italic;
	color: blue;
	font-family: cursive;
}

.h2 {
	color: blue;
}

.theadstyle {
	color: blue;
	font-size: 20px;
}

#table_we {
	color: white;
	font-style: italic;
	font-family: sans-serif;
}

#skills {
	color: white;
	font-style: italic;
	font-family: sans-serif;
}

a:hover {background-color:#FFA100; font-size: 20px;}


